<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registration | new</title>
</head>
<body>
	<h2>New Registration Page</h2>
	<hr>
    <form action="logOutServlet" method="post">
        <input type="submit" value="logout">
    </form>
	<form action="registerUser" method="post">
		<table>
			<tr>
				<td>Name</td>
				<td><input type="text" name="firstName" /></td>
			</tr>
			<tr>
				<td>City</td>
				<td><input type="text" name="city" /></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="text" name="email" /></td>
			</tr>
			<tr>
				<td>Mobile</td>
				<td><input type="text" name="mobile" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="save" /></td>
			</tr>
		</table>
	</form>

</body>
</html>